* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #e5e7eb;
}

header {
  height: 6vh;
}

.navegation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2vh;
  
  font-family: 'Ubuntu', sans-serif;
  line-height: 2vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li + li {
  margin-left: 32px;
}

.nav-list li a {
  color: #e5e7eb;

  background-color: rgb(52 50 51); 
  padding: 7px;
  border-radius: 12px;

  text-decoration: none;
}

main {
  height: 400vh;
}

#home-page, #skills, #about-me, #experiences, #projects, #contact {
  height: 80vh;
}

#home-page {
  text-align: left;
  align-items: center;

  width: 50%;
  margin: auto;
  padding: 15% 0;
}

#home-page h1 {
  margin-bottom: 5vh;

  line-height: 40px;
}

#name {
  font-size: 50px;
}

#home-page p {
  font-size: 20px;
}

.btns-home-page {
  text-align: center;
}

button {
  background-color: rgb(52 50 51);
  color: #e5e7eb;

  font-size: 20px;
  font-weight: bold;

  padding: 10px;
  border: 0px solid rgb(52 50 51);
  border-radius: 40px;
  margin-top: 15vh;
}

#btn-linkedin {
  margin-right: 20px;
}

button + button {
  margin-left: 20px;
}

#skills {
  align-items: center;
  text-align: center;

  width: fit-content;

  margin: 0 auto;
}

#skills ul {
  list-style: none;
}