* {
  margin: 0;
  outline: 1px solid red;
  outline-offset: -1px;

  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #3D1766;
  color: #DDDDDD;
}

header {
  
  flex-direction: row;
}

main {
  margin-top: 48px;
}

section {
  margin-bottom: 48px;
}